src/META-INF/wsdl/localhost_50725/nextappWebService/WebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:50725/nextappWebService/WebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarCompraEquipo">
<part name="parameters" element="tns:AgregarCompraEquipo"/>
</message>
<message name="AgregarCompraEquipoResponse">
<part name="parameters" element="tns:AgregarCompraEquipoResponse"/>
</message>
<message name="ModificarCompraEquipo">
<part name="parameters" element="tns:ModificarCompraEquipo"/>
</message>
<message name="ModificarCompraEquipoResponse">
<part name="parameters" element="tns:ModificarCompraEquipoResponse"/>
</message>
<message name="EliminarCompraEquipo">
<part name="parameters" element="tns:EliminarCompraEquipo"/>
</message>
<message name="EliminarCompraEquipoResponse">
<part name="parameters" element="tns:EliminarCompraEquipoResponse"/>
</message>
<message name="EliminarEmpleados">
<part name="parameters" element="tns:EliminarEmpleados"/>
</message>
<message name="EliminarEmpleadosResponse">
<part name="parameters" element="tns:EliminarEmpleadosResponse"/>
</message>
<message name="EliminarProveedor">
<part name="parameters" element="tns:EliminarProveedor"/>
</message>
<message name="EliminarProveedorResponse">
<part name="parameters" element="tns:EliminarProveedorResponse"/>
</message>
<message name="ModificarSolicitud">
<part name="parameters" element="tns:ModificarSolicitud"/>
</message>
<message name="ModificarSolicitudResponse">
<part name="parameters" element="tns:ModificarSolicitudResponse"/>
</message>
<message name="ModificarProveedor">
<part name="parameters" element="tns:ModificarProveedor"/>
</message>
<message name="ModificarProveedorResponse">
<part name="parameters" element="tns:ModificarProveedorResponse"/>
</message>
<message name="ListarCargoEmpleado">
<part name="parameters" element="tns:ListarCargoEmpleado"/>
</message>
<message name="ListarCargoEmpleadoResponse">
<part name="parameters" element="tns:ListarCargoEmpleadoResponse"/>
</message>
<message name="ActualizarSolicitud">
<part name="parameters" element="tns:ActualizarSolicitud"/>
</message>
<message name="ActualizarSolicitudResponse">
<part name="parameters" element="tns:ActualizarSolicitudResponse"/>
</message>
<message name="EliminarSolicitud">
<part name="parameters" element="tns:EliminarSolicitud"/>
</message>
<message name="EliminarSolicitudResponse">
<part name="parameters" element="tns:EliminarSolicitudResponse"/>
</message>
<message name="AgregarSolicitudEquipo">
<part name="parameters" element="tns:AgregarSolicitudEquipo"/>
</message>
<message name="AgregarSolicitudEquipoResponse">
<part name="parameters" element="tns:AgregarSolicitudEquipoResponse"/>
</message>
<message name="ModificarEmpleado">
<part name="parameters" element="tns:ModificarEmpleado"/>
</message>
<message name="ModificarEmpleadoResponse">
<part name="parameters" element="tns:ModificarEmpleadoResponse"/>
</message>
<message name="ListarMarca">
<part name="parameters" element="tns:ListarMarca"/>
</message>
<message name="ListarMarcaResponse">
<part name="parameters" element="tns:ListarMarcaResponse"/>
</message>
<message name="ListarUsuario">
<part name="parameters" element="tns:ListarUsuario"/>
</message>
<message name="ListarUsuarioResponse">
<part name="parameters" element="tns:ListarUsuarioResponse"/>
</message>
<message name="EliminarUsuario">
<part name="parameters" element="tns:EliminarUsuario"/>
</message>
<message name="EliminarUsuarioResponse">
<part name="parameters" element="tns:EliminarUsuarioResponse"/>
</message>
<message name="ListarEmpleados">
<part name="parameters" element="tns:ListarEmpleados"/>
</message>
<message name="ListarEmpleadosResponse">
<part name="parameters" element="tns:ListarEmpleadosResponse"/>
</message>
<message name="privilegios">
<part name="parameters" element="tns:privilegios"/>
</message>
<message name="privilegiosResponse">
<part name="parameters" element="tns:privilegiosResponse"/>
</message>
<message name="ListarEquipos">
<part name="parameters" element="tns:ListarEquipos"/>
</message>
<message name="ListarEquiposResponse">
<part name="parameters" element="tns:ListarEquiposResponse"/>
</message>
<message name="ListarCompras">
<part name="parameters" element="tns:ListarCompras"/>
</message>
<message name="ListarComprasResponse">
<part name="parameters" element="tns:ListarComprasResponse"/>
</message>
<message name="ListarDepartEmp">
<part name="parameters" element="tns:ListarDepartEmp"/>
</message>
<message name="ListarDepartEmpResponse">
<part name="parameters" element="tns:ListarDepartEmpResponse"/>
</message>
<message name="ValidarUsuario">
<part name="parameters" element="tns:ValidarUsuario"/>
</message>
<message name="ValidarUsuarioResponse">
<part name="parameters" element="tns:ValidarUsuarioResponse"/>
</message>
<message name="AgregarUsuario">
<part name="parameters" element="tns:AgregarUsuario"/>
</message>
<message name="AgregarUsuarioResponse">
<part name="parameters" element="tns:AgregarUsuarioResponse"/>
</message>
<message name="BuscarUsuario">
<part name="parameters" element="tns:BuscarUsuario"/>
</message>
<message name="BuscarUsuarioResponse">
<part name="parameters" element="tns:BuscarUsuarioResponse"/>
</message>
<message name="ModificarUsuario">
<part name="parameters" element="tns:ModificarUsuario"/>
</message>
<message name="ModificarUsuarioResponse">
<part name="parameters" element="tns:ModificarUsuarioResponse"/>
</message>
<message name="AgregarProveedor">
<part name="parameters" element="tns:AgregarProveedor"/>
</message>
<message name="AgregarProveedorResponse">
<part name="parameters" element="tns:AgregarProveedorResponse"/>
</message>
<message name="TecnicoAsignado">
<part name="parameters" element="tns:TecnicoAsignado"/>
</message>
<message name="TecnicoAsignadoResponse">
<part name="parameters" element="tns:TecnicoAsignadoResponse"/>
</message>
<message name="BuscarProveedor">
<part name="parameters" element="tns:BuscarProveedor"/>
</message>
<message name="BuscarProveedorResponse">
<part name="parameters" element="tns:BuscarProveedorResponse"/>
</message>
<message name="AgregarEmpleado">
<part name="parameters" element="tns:AgregarEmpleado"/>
</message>
<message name="AgregarEmpleadoResponse">
<part name="parameters" element="tns:AgregarEmpleadoResponse"/>
</message>
<message name="EliminarEquipo">
<part name="parameters" element="tns:EliminarEquipo"/>
</message>
<message name="EliminarEquipoResponse">
<part name="parameters" element="tns:EliminarEquipoResponse"/>
</message>
<message name="TipoEquipo">
<part name="parameters" element="tns:TipoEquipo"/>
</message>
<message name="TipoEquipoResponse">
<part name="parameters" element="tns:TipoEquipoResponse"/>
</message>
<message name="ListarProvedores">
<part name="parameters" element="tns:ListarProvedores"/>
</message>
<message name="ListarProvedoresResponse">
<part name="parameters" element="tns:ListarProvedoresResponse"/>
</message>
<message name="AgregarEquipo">
<part name="parameters" element="tns:AgregarEquipo"/>
</message>
<message name="AgregarEquipoResponse">
<part name="parameters" element="tns:AgregarEquipoResponse"/>
</message>
<message name="BuscarSolicitud">
<part name="parameters" element="tns:BuscarSolicitud"/>
</message>
<message name="BuscarSolicitudResponse">
<part name="parameters" element="tns:BuscarSolicitudResponse"/>
</message>
<message name="BuscarEquipo">
<part name="parameters" element="tns:BuscarEquipo"/>
</message>
<message name="BuscarEquipoResponse">
<part name="parameters" element="tns:BuscarEquipoResponse"/>
</message>
<message name="mostrarProveedores">
<part name="parameters" element="tns:mostrarProveedores"/>
</message>
<message name="mostrarProveedoresResponse">
<part name="parameters" element="tns:mostrarProveedoresResponse"/>
</message>
<message name="BuscarEmpleado">
<part name="parameters" element="tns:BuscarEmpleado"/>
</message>
<message name="BuscarEmpleadoResponse">
<part name="parameters" element="tns:BuscarEmpleadoResponse"/>
</message>
<message name="ModificarEquipo">
<part name="parameters" element="tns:ModificarEquipo"/>
</message>
<message name="ModificarEquipoResponse">
<part name="parameters" element="tns:ModificarEquipoResponse"/>
</message>
<message name="CrearSolicitud">
<part name="parameters" element="tns:CrearSolicitud"/>
</message>
<message name="CrearSolicitudResponse">
<part name="parameters" element="tns:CrearSolicitudResponse"/>
</message>
<portType name="WebServices">
<operation name="AgregarCompraEquipo">
<input wsam:Action="http://WebServices/WebServices/AgregarCompraEquipoRequest" message="tns:AgregarCompraEquipo"/>
<output wsam:Action="http://WebServices/WebServices/AgregarCompraEquipoResponse" message="tns:AgregarCompraEquipoResponse"/>
</operation>
<operation name="ModificarCompraEquipo">
<input wsam:Action="http://WebServices/WebServices/ModificarCompraEquipoRequest" message="tns:ModificarCompraEquipo"/>
<output wsam:Action="http://WebServices/WebServices/ModificarCompraEquipoResponse" message="tns:ModificarCompraEquipoResponse"/>
</operation>
<operation name="EliminarCompraEquipo">
<input wsam:Action="http://WebServices/WebServices/EliminarCompraEquipoRequest" message="tns:EliminarCompraEquipo"/>
<output wsam:Action="http://WebServices/WebServices/EliminarCompraEquipoResponse" message="tns:EliminarCompraEquipoResponse"/>
</operation>
<operation name="EliminarEmpleados">
<input wsam:Action="http://WebServices/WebServices/EliminarEmpleadosRequest" message="tns:EliminarEmpleados"/>
<output wsam:Action="http://WebServices/WebServices/EliminarEmpleadosResponse" message="tns:EliminarEmpleadosResponse"/>
</operation>
<operation name="EliminarProveedor">
<input wsam:Action="http://WebServices/WebServices/EliminarProveedorRequest" message="tns:EliminarProveedor"/>
<output wsam:Action="http://WebServices/WebServices/EliminarProveedorResponse" message="tns:EliminarProveedorResponse"/>
</operation>
<operation name="ModificarSolicitud">
<input wsam:Action="http://WebServices/WebServices/ModificarSolicitudRequest" message="tns:ModificarSolicitud"/>
<output wsam:Action="http://WebServices/WebServices/ModificarSolicitudResponse" message="tns:ModificarSolicitudResponse"/>
</operation>
<operation name="ModificarProveedor">
<input wsam:Action="http://WebServices/WebServices/ModificarProveedorRequest" message="tns:ModificarProveedor"/>
<output wsam:Action="http://WebServices/WebServices/ModificarProveedorResponse" message="tns:ModificarProveedorResponse"/>
</operation>
<operation name="ListarCargoEmpleado">
<input wsam:Action="http://WebServices/WebServices/ListarCargoEmpleadoRequest" message="tns:ListarCargoEmpleado"/>
<output wsam:Action="http://WebServices/WebServices/ListarCargoEmpleadoResponse" message="tns:ListarCargoEmpleadoResponse"/>
</operation>
<operation name="ActualizarSolicitud">
<input wsam:Action="http://WebServices/WebServices/ActualizarSolicitudRequest" message="tns:ActualizarSolicitud"/>
<output wsam:Action="http://WebServices/WebServices/ActualizarSolicitudResponse" message="tns:ActualizarSolicitudResponse"/>
</operation>
<operation name="EliminarSolicitud">
<input wsam:Action="http://WebServices/WebServices/EliminarSolicitudRequest" message="tns:EliminarSolicitud"/>
<output wsam:Action="http://WebServices/WebServices/EliminarSolicitudResponse" message="tns:EliminarSolicitudResponse"/>
</operation>
<operation name="AgregarSolicitudEquipo">
<input wsam:Action="http://WebServices/WebServices/AgregarSolicitudEquipoRequest" message="tns:AgregarSolicitudEquipo"/>
<output wsam:Action="http://WebServices/WebServices/AgregarSolicitudEquipoResponse" message="tns:AgregarSolicitudEquipoResponse"/>
</operation>
<operation name="ModificarEmpleado">
<input wsam:Action="http://WebServices/WebServices/ModificarEmpleadoRequest" message="tns:ModificarEmpleado"/>
<output wsam:Action="http://WebServices/WebServices/ModificarEmpleadoResponse" message="tns:ModificarEmpleadoResponse"/>
</operation>
<operation name="ListarMarca">
<input wsam:Action="http://WebServices/WebServices/ListarMarcaRequest" message="tns:ListarMarca"/>
<output wsam:Action="http://WebServices/WebServices/ListarMarcaResponse" message="tns:ListarMarcaResponse"/>
</operation>
<operation name="ListarUsuario">
<input wsam:Action="http://WebServices/WebServices/ListarUsuarioRequest" message="tns:ListarUsuario"/>
<output wsam:Action="http://WebServices/WebServices/ListarUsuarioResponse" message="tns:ListarUsuarioResponse"/>
</operation>
<operation name="EliminarUsuario">
<input wsam:Action="http://WebServices/WebServices/EliminarUsuarioRequest" message="tns:EliminarUsuario"/>
<output wsam:Action="http://WebServices/WebServices/EliminarUsuarioResponse" message="tns:EliminarUsuarioResponse"/>
</operation>
<operation name="ListarEmpleados">
<input wsam:Action="http://WebServices/WebServices/ListarEmpleadosRequest" message="tns:ListarEmpleados"/>
<output wsam:Action="http://WebServices/WebServices/ListarEmpleadosResponse" message="tns:ListarEmpleadosResponse"/>
</operation>
<operation name="privilegios">
<input wsam:Action="http://WebServices/WebServices/privilegiosRequest" message="tns:privilegios"/>
<output wsam:Action="http://WebServices/WebServices/privilegiosResponse" message="tns:privilegiosResponse"/>
</operation>
<operation name="ListarEquipos">
<input wsam:Action="http://WebServices/WebServices/ListarEquiposRequest" message="tns:ListarEquipos"/>
<output wsam:Action="http://WebServices/WebServices/ListarEquiposResponse" message="tns:ListarEquiposResponse"/>
</operation>
<operation name="ListarCompras">
<input wsam:Action="http://WebServices/WebServices/ListarComprasRequest" message="tns:ListarCompras"/>
<output wsam:Action="http://WebServices/WebServices/ListarComprasResponse" message="tns:ListarComprasResponse"/>
</operation>
<operation name="ListarDepartEmp">
<input wsam:Action="http://WebServices/WebServices/ListarDepartEmpRequest" message="tns:ListarDepartEmp"/>
<output wsam:Action="http://WebServices/WebServices/ListarDepartEmpResponse" message="tns:ListarDepartEmpResponse"/>
</operation>
<operation name="ValidarUsuario">
<input wsam:Action="http://WebServices/WebServices/ValidarUsuarioRequest" message="tns:ValidarUsuario"/>
<output wsam:Action="http://WebServices/WebServices/ValidarUsuarioResponse" message="tns:ValidarUsuarioResponse"/>
</operation>
<operation name="AgregarUsuario">
<input wsam:Action="http://WebServices/WebServices/AgregarUsuarioRequest" message="tns:AgregarUsuario"/>
<output wsam:Action="http://WebServices/WebServices/AgregarUsuarioResponse" message="tns:AgregarUsuarioResponse"/>
</operation>
<operation name="BuscarUsuario">
<input wsam:Action="http://WebServices/WebServices/BuscarUsuarioRequest" message="tns:BuscarUsuario"/>
<output wsam:Action="http://WebServices/WebServices/BuscarUsuarioResponse" message="tns:BuscarUsuarioResponse"/>
</operation>
<operation name="ModificarUsuario">
<input wsam:Action="http://WebServices/WebServices/ModificarUsuarioRequest" message="tns:ModificarUsuario"/>
<output wsam:Action="http://WebServices/WebServices/ModificarUsuarioResponse" message="tns:ModificarUsuarioResponse"/>
</operation>
<operation name="AgregarProveedor">
<input wsam:Action="http://WebServices/WebServices/AgregarProveedorRequest" message="tns:AgregarProveedor"/>
<output wsam:Action="http://WebServices/WebServices/AgregarProveedorResponse" message="tns:AgregarProveedorResponse"/>
</operation>
<operation name="TecnicoAsignado">
<input wsam:Action="http://WebServices/WebServices/TecnicoAsignadoRequest" message="tns:TecnicoAsignado"/>
<output wsam:Action="http://WebServices/WebServices/TecnicoAsignadoResponse" message="tns:TecnicoAsignadoResponse"/>
</operation>
<operation name="BuscarProveedor">
<input wsam:Action="http://WebServices/WebServices/BuscarProveedorRequest" message="tns:BuscarProveedor"/>
<output wsam:Action="http://WebServices/WebServices/BuscarProveedorResponse" message="tns:BuscarProveedorResponse"/>
</operation>
<operation name="AgregarEmpleado">
<input wsam:Action="http://WebServices/WebServices/AgregarEmpleadoRequest" message="tns:AgregarEmpleado"/>
<output wsam:Action="http://WebServices/WebServices/AgregarEmpleadoResponse" message="tns:AgregarEmpleadoResponse"/>
</operation>
<operation name="EliminarEquipo">
<input wsam:Action="http://WebServices/WebServices/EliminarEquipoRequest" message="tns:EliminarEquipo"/>
<output wsam:Action="http://WebServices/WebServices/EliminarEquipoResponse" message="tns:EliminarEquipoResponse"/>
</operation>
<operation name="TipoEquipo">
<input wsam:Action="http://WebServices/WebServices/TipoEquipoRequest" message="tns:TipoEquipo"/>
<output wsam:Action="http://WebServices/WebServices/TipoEquipoResponse" message="tns:TipoEquipoResponse"/>
</operation>
<operation name="ListarProvedores">
<input wsam:Action="http://WebServices/WebServices/ListarProvedoresRequest" message="tns:ListarProvedores"/>
<output wsam:Action="http://WebServices/WebServices/ListarProvedoresResponse" message="tns:ListarProvedoresResponse"/>
</operation>
<operation name="AgregarEquipo">
<input wsam:Action="http://WebServices/WebServices/AgregarEquipoRequest" message="tns:AgregarEquipo"/>
<output wsam:Action="http://WebServices/WebServices/AgregarEquipoResponse" message="tns:AgregarEquipoResponse"/>
</operation>
<operation name="BuscarSolicitud">
<input wsam:Action="http://WebServices/WebServices/BuscarSolicitudRequest" message="tns:BuscarSolicitud"/>
<output wsam:Action="http://WebServices/WebServices/BuscarSolicitudResponse" message="tns:BuscarSolicitudResponse"/>
</operation>
<operation name="BuscarEquipo">
<input wsam:Action="http://WebServices/WebServices/BuscarEquipoRequest" message="tns:BuscarEquipo"/>
<output wsam:Action="http://WebServices/WebServices/BuscarEquipoResponse" message="tns:BuscarEquipoResponse"/>
</operation>
<operation name="mostrarProveedores">
<input wsam:Action="http://WebServices/WebServices/mostrarProveedoresRequest" message="tns:mostrarProveedores"/>
<output wsam:Action="http://WebServices/WebServices/mostrarProveedoresResponse" message="tns:mostrarProveedoresResponse"/>
</operation>
<operation name="BuscarEmpleado">
<input wsam:Action="http://WebServices/WebServices/BuscarEmpleadoRequest" message="tns:BuscarEmpleado"/>
<output wsam:Action="http://WebServices/WebServices/BuscarEmpleadoResponse" message="tns:BuscarEmpleadoResponse"/>
</operation>
<operation name="ModificarEquipo">
<input wsam:Action="http://WebServices/WebServices/ModificarEquipoRequest" message="tns:ModificarEquipo"/>
<output wsam:Action="http://WebServices/WebServices/ModificarEquipoResponse" message="tns:ModificarEquipoResponse"/>
</operation>
<operation name="CrearSolicitud">
<input wsam:Action="http://WebServices/WebServices/CrearSolicitudRequest" message="tns:CrearSolicitud"/>
<output wsam:Action="http://WebServices/WebServices/CrearSolicitudResponse" message="tns:CrearSolicitudResponse"/>
</operation>
</portType>
<binding name="WebServicesPortBinding" type="tns:WebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarCompraEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarCompraEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarCompraEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarCargoEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarSolicitudEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="privilegios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarEquipos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarCompras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarDepartEmp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ValidarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TecnicoAsignado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TipoEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarProvedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarProveedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServices">
<port name="WebServicesPort" binding="tns:WebServicesPortBinding">
<soap:address location="http://localhost:50725/nextappWebService/WebServices"/>
</port>
</service>
</definitions>